<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper
  	namespace="com.myboard.myapp.mypage.dao.face.MypageDao">

	<select id="getUser" parameterType="int" resultType="User">
	  	SELECT user_no, user_name, user_id, user_nick, user_gender, user_email, user_postcode, 
	  	user_addr1, user_addr2, user_addr3, user_phone, user_joindate, user_birth
	  	FROM user_tb WHERE user_no = #{userNo}
	  </select>

	<select id="getCntBoard" parameterType="int" resultType="int">
		SELECT count(*) FROM board WHERE user_no = #{userNo}
	</select>
	
	<select id="getBoardList" parameterType="Map" resultType="Map">
		SELECT * FROM
    	(select rownum rnum, b.*
        FROM(
        SELECT title, board_no, write_date, hit
        ,(SELECT count(*) FROM  board_comment bc WHERE bc.board_no = b.board_no
        ) commentCnt
        FROM board b
        WHERE user_no = #{userNo}
        order by board_no DESC
        ) b
        order by rnum
        )WHERE rnum BETWEEN #{paging.startNo} and #{paging.endNo}
	</select>

	<select id="getUserProfile" parameterType="int" resultType="UserFile">
		SELECT * FROM userfile WHERE user_no = #{userNo}
	</select>
	
	<select id="getCommCnt" parameterType="int" resultType="int">
  		SELECT count(*) FROM board_comment WHERE user_no = #{userNo}
  	</select>
  	
  	<select id="getCommentList" parameterType="Map" resultType="Map">
  		SELECT * FROM (
		SELECT  rownum rnum , C.* FROM
		(
		SELECT bc.* , b.title
		FROM (SELECT * FROM board_comment WHERE user_no = #{userNo}  AND is_delete = 'n'
		order by comment_no DESC) bc
		LEFT JOIN board b on 
		b.board_no = bc.board_no
		) C
		ORDER BY rnum
		) WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
  	</select>

	<select id="getCntInquiry" parameterType="int" resultType="int">
		SELECT count(*) FROM inquiry WHERE user_no = #{userNo}
	</select>
	
	<select id="getInquiryList" parameterType="Map" resultType="Map">
		SELECT * FROM 
		(SELECT  rownum rnum, q.* from
		(SELECT i.*,
   			CASE inquiry_type
			WHEN 'u' THEN '회원정보'
			WHEN 'b' THEN '블랙리스트	'
			WHEN 'r' THEN '규제'
			ELSE '기타'
			END type,
			
			CASE answer_state
            WHEN 'n' THEN '답변대기'
            ELSE '답변완료'
            END state
            
            FROM inquiry i) q
             WHERE user_no = #{userNo}
		) 
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
  </mapper>